@model IEnumerable<Board>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @* <h1 class="display-4">@Html.DisplayFor(modelItem => modelItem)</h1> *@
    @* <p>@Html.DisplayNameForModel(modelItem => modelItem)</p> *@
    @foreach (var item in Model)
    {
        <h1 class="display-4">@Html.DisplayFor(model => item.PostTitle)</h1>
        <h1 class="display-4">@Html.DisplayFor(model => item.PostStory)</h1>
    }
</div>